{% extends 'starter-page.html' %}
{% load static %}

{% block content %}
    
        <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About Us</h2>
        <p><strong class="fs-4">Yes, we’re accountants. But we are not just accountants, </strong></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <h3>About Us!</h3>
            <p class="fst-italic fs-4">At Patsum Business Consultants (PBC), we go beyond traditional accounting. We believe in partnering with our clients to support and accelerate their business success. As a dynamic and client-focused consultancy firm, we specialize in delivering real-time, data-driven solutions tailored to each business's unique needs. Our comprehensive suite of services includes taxation advisory and compliance, bookkeeping and QuickBooks training, financial auditing, business risk management, and digital marketing solutions. Whether you're an entrepreneur looking to streamline your operations or a growing enterprise aiming to scale smartly, our goal is to save you time and money through innovative technology, practical advice, and strategic implementation. We pride ourselves on being not just service providers but proactive partners in your journey—committed to celebrating your milestones and driving sustainable growth.       </p>

            <a href="{% url 'service' %}" class="read-more btn btn-outline-primary text-dark"><span>Check Out Our Services</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'assets/img/about.png' %}" class="img-fluid h-75" alt="">
          </div>


          </div>

        </div>


    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{% static 'assets/img/team/8.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Patrick Mbevi.</h4>
                  <span>Lead Consultant.</span>
                  <span>Assignments and Planning Partner.</span>
                  <div class="social">
                    
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'assets/img/team/5.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Brenda Gachango</h4>
                  <span>Client accounts Management</span>
                  <div class="social">
                   
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'assets/img/team/4.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jessica Ngara</h4>
                  <span>Investment and Business development Expert</span>
                  <div class="social">
                  
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{% static 'assets/img/team/Alex.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Alex Mutisya</h4>
                  <span>IT Expert (programmer & Web, App developer )</span>
                  <div class="social">
                
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->


    </section><!-- /About Section -->

{% endblock %}