{% extends 'starter-page.html' %}
{% load static %}

{% block content %}

        <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact Us</h2>
        <p><strong>Having any issue?</strong></p>
        <p><i>Reach out to us</i> </p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4">
            <div class="info-item d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>Eastleight 1st Avenue, Ibgaro 2 Plaza</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-4">
            <div class="info-item d-flex flex-column justify-content-center align-items-center info-item-borders">
              <i class="bi bi-telephone"></i>
              <h3>Call Our Office -></h3>
              <p>+254110953349</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-4">
            <div class="info-item d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>patsumconsultants@gmail.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

          {% if messages %}
            {% for message in messages %}
               <div class="alert alert-success text-center">
                  {{ message }}
               </div>
            {% endfor %}
          {% endif %}

        <form method="post">
              {% csrf_token %}
           <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6">
                   <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                    <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                   <div class="loading">Loading</div>
                   <div class="error-message"></div>

                   <button type="submit" class="btn btn-outline-warning text-dark">Send Message</button>
               </div>

           </div>
        </form><!-- End Contact Form -->
          <br><br>

          <div class="row">
              <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d151.93963997897188!2d36.85055696582036!3d-1.2816525483280807!2m2!1f0!2f45!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x182f11e490ddab7f%3A0xd17d4f3a7537ac7a!2sIBGARO%202%20PLAZA!5e1!3m2!1sen!2ske!4v1748339856844!5m2!1sen!2ske" width="1000" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

       </div>

    </section><!-- /Contact Section -->

{% endblock %}